{#=====================================================
  Home page
  - Hero style greeting banner
  - List of tasks passed in as 'tasks' array
  - Form for adding a new task
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    To Do List

{% endblock %}


{% block content %}

    <h1>Tasks...</h1>
    
    <article>

        <ul>
            {% for task in tasks %}

                <li>
                    <a href="/delete/{{ task.id }}" onclick="return confirm('Do you really want to delete this task?');">🗑</a>
                    <strong>{{ task.priority }}</strong>
                            {{ task.name }}
                            
                    {% if task.completed %}

                        <a href="/incomplete/{{ task.id }}">🗹</a>

                    {% else %}

                        <a href="/complete/{{ task.id }}">☐</a>
                    {% endif %}
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

        <article>

            <h3>Add a New Task...</h3>

            <form action="/add" method="POST">

                <input
                    type="text"
                    name="name"
                    placeholder="Name of new task"
                    required
                >

                <input
                    type="number"
                    name="priority"
                    min="1"
                    max="5"
                    placeholder="Priority"
                    required
                >

                <button>Add a Task</button>

            </form>

        </article>

{% endblock %}