{#=====================================================
  Home page
  - Hero style greeting banner
  - List of tasks passed in as 'tasks' array
  - Form for adding a new task
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    To Do List

{% endblock %}


{% block content %}

    <h1>Tasks...</h1>


    <article>

        <ul>
            {% for thing in things %}

                <li>
                    <a href="/task/{{ task.id }}">
                        <strong>{{ task.name }}</strong>
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


    {# Only show form if user is logged in #}
    {% if session.user_id %}

        <article>

            <h3>Add a New Task...</h3>

            <form action="/add" method="POST">

                <input
                    type="text"
                    name="task"
                    placeholder="Name of new task"
                    required
                >

                <input
                    type="number"
                    name="priority"
                    min="1"
                    max="5"
                    placeholder="Priority"
                    required
                >

                <button>Add a Task</button>

            </form>

        </article>

    {% endif %}

{% endblock %}