{#=====================================================
  Welcome non logged in ujsers
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Welcome

{% endblock %}


{% block content %}

    <h1>Hello!</h1>

    <h2>Please <a href="/login">log in</a> if you already have an account</h2>
    <h2>If not, <a href="/register">sign up</a>!</h2>


{% endblock %}

